#donation {
    width: 1230px;
    margin: 0 auto;
    min-height: 81vh;
}
#donation::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    transform: rotate(270deg);
    position: relative;
    bottom: 397px;
    right: 423px;
    width: 675px;
    height: 156px;
    background-image: url("../../img/wordBg/Support.png");
    color: #23262D;
}
#donation .smallNavbar {
    margin-top: 31px;
}
#mainDonation {
    margin-top: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#donationText h1 {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.005em;
    color: #23262D;
    margin: 30px 0 30px 0;
}
#donationText p {
    max-width: 543px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: -0.01em;

    /* Black */

    color: #23262D;
}
#donationButtons {
    display: flex;
    flex-wrap: wrap;
    max-width: 501px;
    margin-top: 121px;
}
#donationButtons img {
    margin: 10px 10px 0 0;
    cursor: pointer;
}
#donationImg {
    width: 600px;
    height: 412px;
}